body {
  background-color: aliceblue;
}

img {
  width: 100%;
}

.container {
  width: 60%;
  margin: auto;
  font-family: sans-serif;
}

.blog-post {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.inner-container {
  text-align: left;
}

.masterlist {
  list-style: none;
  padding: 0;
}
